<div class="row">
    <div class="col-12">
        <header>
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="menu">
                            <div class="logo">
                                <img src="../../assets/img/logo-w.png" alt="">
                            </div>
                            <div class="list">
                                <ul>
                                    <li><a routerLink="/home">Home</a></li>
                                    <li><a routerLink="/task">Task</a></li>
                                    <li><a routerLink="/project">Project</a></li>
                                    <li><a href=""><i class="fas fa-sign-out-alt" (click)="logout()"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
    </div>
</div>